.mba7{
    background-color: rgb(217, 217, 238);
    border-radius: 30px;
}
.mbah1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.mba9{
    background-color: rgb(217, 217, 248);
    border-radius: 30px;
}
.mbah1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.mbah5{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.degree{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.mt{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}
.jo{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.jurney{
    background-color: rgb(209, 209, 241);
    border-radius: 30px;
}